.header {
    background: var(--primary-color);
}

.header_list {
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    align-items: center;
}

.header_logo-img {
    width: 150px;
}

.header_list-item {
    font-size: 1.8rem;
    color: var(--white-color);
    text-align: center;
}

.homepage_img, .cart_img {
    font-size: 2.5rem;
}

.navItem:hover {
    cursor: pointer;
    opacity: 0.7;
}

.app_container {
    /* height: 100vh;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--background-color); */
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
}

.grid2 {
    margin: 8% auto 0;
}

.product-img {
    padding-top: 56.25%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner {
    width: 100%;
    height: 40px;
}

.product-name {
    font-size: 2.8rem;
    color: var(--text-color);
    font-weight: 600;
    line-height: 3rem;
    height: calc(3rem*2);
    /* chorme version */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-rate-price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}
.product-rate {
    color: var(--theme-color);
    font-size: 1.3rem;
    margin-right: 30px;
}
.product-price {
    color: var(--theme-color);
    font-size: 2rem;
}
.product-desc {
    color: var(--text-color);
    font-size: 2rem;
    /* line-height: 2.2rem;
    height: calc(2.2rem*2); */
    margin-top: 20px;
    /* chorme version */
    /* display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; */
}
.product-quantity {
    color: var(--text-color);
    font-size: 1.7rem;
    /* text-align: center; */
    margin-top: 20px;
}

.btn-wrapper {
    /* text-align: center; */
    margin-top: 20px;
}

.product-addToCartBtn {
    font-size: 1.6rem;
    height: 35px;
    padding: 4px 16px;
    border: none;
    border-radius: 4px;
    background-color: var(--theme-color);
    color: var(--white-color);
    cursor: pointer;
}

.product-addToCartBtn:hover {
    opacity: 0.7;
}

#col2 {
    /* background-color: var(--white-color); */
    padding-left: 15px;
}

@media (max-width: 739px) {
    #row {
        margin: 0 4px 0 4px;
    }
    .grid2 {
        margin: 10px auto 0;
    }
}